<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.xtext.org/example/guidsl/GuiDsl" 
       class = "org.xtext.example.guidsl.guiDsl.GuiDslPackage"
       genModel = "org/xtext/example/guidsl/GuiDsl.genmodel" /> 
	
  </extension>

 	<extension 
       point="org.eclipse.ui.exportWizards"> 
      <wizard 
         id="com.xyz.ExportWizard1" 
         name="Export User Interfaces GuiDSL" 
         class="de.example.gui.exportPlugin.ExpWizard" 
         icon="./icons/import1.gif"> 
         <description> 
            Export Generated UserInterfaces 
         </description> 
         <selection class="org.eclipse.core.resources.IProject"/> 
      </wizard> 
   </extension> 

</plugin>
